*{
    margin: 0;
    padding: 0;
}

body{
    background: whitesmoke;
    color: gray;
}

.main_header{
    background: blue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    z-index: 100;
}

.main_header main{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.navigation a{
    color: white;
    text-decoration: none;
    margin-left:40px ;
}

.img_box{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 10vh; */
}

.img_box img{
    width: 100%;
    background-size: cover;
    min-height: 80vh;
    top: 10vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    position: absolute;
    left: 0;
}

.img_box button{
    position: relative;
}

